@keyframes moveInLeft {
  0% {
    visibility: 0;
    transform: translateX(-20rem); }
  80% {
    transform: translateX(10px); }
  100% {
    visibility: 1;
    transform: translateX(0px); } }

@keyframes moveInRight {
  0% {
    visibility: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-10px); }
  100% {
    visibility: 1;
    transform: translateX(0px); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 3rem;
  font-family: 'Lato',sans-serif;
  line-height: 1.7;
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-align: center;
  backface-visibility: hidden; }
  .heading-primary--name {
    display: inline-block;
    font-size: 6rem;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    animation: moveInLeft 1s .2s ease-out;
    font-weight: 400; }
  .heading-primary--title {
    display: inline-block;
    font-size: 3rem;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    font-size: 500;
    animation: moveInRight 1s .2s ease-out; }
  .heading-primary--portfolio {
    display: inline-block;
    font-size: 3rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-size: 500;
    animation: moveInRight 1s .2s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  width: 100%; }

.heading-tertiary {
  font-size: 3rem;
  color: #777; }

.paragraph {
  font-size: 2rem;
  color: #777; }
  .paragraph::first-letter {
    font-size: 3rem; }

.u-text-center {
  text-align: center; }

.u-align-vertically {
  vertical-align: middle; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-Xlarge {
  margin-bottom: 10rem; }

.image-box__image {
  width: 100%;
  box-shadow: 0px 1.5rem 40rem rgba(0, 0, 0, 0.15);
  margin-top: -10px;
  outline-offset: 2rem;
  transition: all .2s; }
  .image-box__image:hover {
    outline: 2rem solid #55c57a;
    transform: translateY(-3px) scale(1.09); }

.row {
  max-width: 114rem;
  color: black;
  margin: 0 auto; }
  .row:not(:last-child) {
    height: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2*(100% - 2*6rem)/3 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2*(100% - 3*6rem)/4 + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*(100% - 3*6rem)/4 + 2*6rem); }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.81)), url(../../img/header-4.jpg);
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

.section-about {
  padding: 25rem 0;
  background-color: #f7f7f7;
  margin: -20rem 0; }
