$color-primary-light:#7ed56f;
$color-primary:#55c57a;
$color-primary-dark:#28b485;
$color-white-light:#fff;
$color-grey-light:#777;
$color-grey-light-1:#f7f7f7;

$color-black:#000;
$font-primary:1.6rem;
$grid-width:114rem;
$gutter-width:6rem;
$gutter-height:8rem;