@keyframes moveInLeft{
    0%{
    visibility: 0;
    transform: translateX(-20rem)
    }
    80%{
        transform: translateX(10px)    
    }
    100%{
        visibility: 1;
        transform: translateX(0px)  
    }
}
@keyframes moveInRight{
    0%{
    visibility: 0;
    transform: translateX(20rem)
    }
    80%{
        transform: translateX(-10px)    
    }
    100%{
        visibility: 1;
        transform: translateX(0px)  
    }
}