.heading-primary{
    color:$color-white-light;
    text-align: center;
    backface-visibility: hidden;
    &--name{
        display: inline-block;
        font-size: 6rem;
        letter-spacing: 1.5rem;
        text-transform: uppercase;
        animation: moveInLeft 1s .2s ease-out;
        font-weight: 400;
        
    }
    &--title{
        display: inline-block;
        font-size: 3rem;
        letter-spacing: 1.5rem;
        text-transform: uppercase;
        font-size: 500;
        animation: moveInRight 1s .2s ease-out;
       
    }
    &--portfolio{
        display: inline-block;
        font-size: 3rem;
        letter-spacing: 1rem;
        text-transform: uppercase;
        font-size: 500;
        animation: moveInRight 1s .2s ease-out;
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
    display: inline-block;
    color:$color-white-light;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    width:100%;
}
.heading-tertiary{
    font-size: 3rem;
    color:$color-grey-light;
}
.paragraph{
    font-size: 2rem;
    color:$color-grey-light;

&::first-letter{
    font-size: 3rem;
}
}