.u-text-center{
    text-align: center;
}
.u-align-vertically{
vertical-align: middle;
}
.u-margin-bottom-small{
    margin-bottom:2rem;
}
.u-margin-bottom-medium{
    margin-bottom:6rem;
}
.u-margin-bottom-large{
    margin-bottom:8rem;
}
.u-margin-bottom-Xlarge{
    margin-bottom:10rem;
}
